
$theme_color: (
"letra": bisque,
"fondo":brown,
 
);

$font-base:'Oswald', sans-serif;

.header-font {
  font-family:'Comfortaa', cursive;
}

.min-vh-10 {
 min-height: 10vh;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";