*{
    box-sizing: border-box;
 }


body {
    margin:0;
}


header {
  background-color: rgb(123, 175, 175);
  color:burlywood;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}


main {
    margin:1rem;
    min-height: 60vh;
}

.container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



footer {
    min-height: 10vh;
    background-color:  rgb(123, 175, 175);
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}


