-const page = 4


include ../partials/variables.pug
include ../partials/mixins.pug

include ../partials/meta.pug
body
      include ../partials/header.pug
       main     
           section 
               header   
                   h2 Partners 
               
               p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, corrupti laudantium! Animi nam neque excepturi autem nisi, harum consectetur porro necessitatibus voluptas quis illum quibusdam, vitae dolore ipsum similique non.
               p Ducimus libero quisquam eveniet unde, soluta inventore. Fuga aut cumque enim quaerat repellendus incidunt, et neque, facere, numquam eum doloribus saepe ex vel corrupti! Mollitia obcaecati consequatur ratione ea dicta.             
               h3 Partner 1
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus saepe quod voluptatem voluptates ipsa aliquam alias? Fuga ipsum repellendus incidunt ullam commodi nobis vitae libero. Dolorem, sequi corrupti! Sequi, dicta.
                    p Nam corporis quis sapiente in perferendis nulla! Ut suscipit amet blanditiis nesciunt eveniet, totam repellat rerum sapiente officia impedit, dolore iusto, enim deleniti iste maxime adipisci esse nemo dolor fuga!
                    p Laborum aut velit vel magnam cum dolor quod, sunt nam impedit minus, atque ratione illo a, pariatur error. Qui repellat assumenda molestias nobis asperiores aliquam aperiam! Tempore, ipsam! Et, iure?

               h3 Partner 2
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel velit voluptates nostrum sequi fugit nobis quod, atque aperiam nesciunt incidunt. Consequuntur fugit iusto suscipit quaerat magni delectus eligendi libero id.
                    p Fuga deserunt nihil nemo? Velit eligendi similique harum hic consequuntur perferendis sit expedita, provident quo, dolorem pariatur eaque ut sapiente quos reiciendis deleniti incidunt accusamus aspernatur possimus sunt? Eius, facere.
                    p Labore deserunt eius incidunt quidem debitis iure ut beatae sunt similique laborum nostrum eum sapiente nobis aliquid hic voluptatum corrupti quo eveniet perspiciatis voluptates alias, dolorem earum! Perferendis, eos dolorem!

               h3 Partner 3
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates mollitia pariatur quos? Commodi nesciunt, adipisci libero assumenda dolorem tempora veritatis. Deserunt adipisci dolor saepe doloremque ut quas aliquam! Neque, odio.
                    p Debitis unde officia illum molestiae recusandae impedit quis similique est, aut reiciendis. Explicabo dicta dignissimos, facilis quae omnis sit assumenda unde necessitatibus error esse sint suscipit, consectetur nemo aspernatur alias.
                    p Aliquid accusamus rem excepturi optio dignissimos dicta sit hic iure ducimus sapiente tempore deleniti iusto laboriosam assumenda possimus doloremque, blanditiis eaque quam ad illum natus maiores magnam repellendus! Eum, non!

       include ../partials/footer.pug    