
extends ./layout.pug

-const page = 1

        section#inicio 
            header
                h2 Inicio
            p. 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore ipsum fuga ut expedita suscipit sequi ab repudiandae corporis iste.  
                Doloribus, <strong> sit nam quaerat voluptatum maxime libero </strong> , accusantium dignissimos modi labore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate reprehenderit mollitia cumque laborum enim commodi, excepturi exercitationem architecto dolor, minus esse vitae recusandae eum amet animi nulla quibusdam tenetur.
            p
            div.info Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nihil doloremque debitis quasi sequi perferendis alias error at, repellat sunt beatae pariatur suscipit dolore. Quia fuga quibusdam eos repellat corporis?  
            figure
                img(src="https://via.placeholder.com/500x350", alt="placeholder")
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est eius minima possimus consectetur nulla ipsa voluptate corporis dolorem! Possimus veniam ullam iste, voluptatibus aut distinctio eos dolorem totam nesciunt ut.
    

        