h1, p {
   /* display: inline;
   */
    
}
strong {
    font-weight:normal;

    /*display:block;
    */
}

/*
LOS ID NO SE USAN EN CSS
#A001{
color:rgb(red, green, blue);
}*/

.destacado{
 color: rgb(red, green, blue);   
}

h1 {
    text-align:center;
}

img{
 text-align: center;   
}

pre{
 text-align: center;   
}