*{
   box-sizing: border-box;
}

body {
  margin:0;
}

header {
    background-color: maroon;
    color:beige;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

dialog {
    background-color: bisque;
    color:maroon;
    

}

dialog div{
  display: flex;
}


footer {
    min-height: 10vh;
    background-color: maroon;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}