*{
   box-sizing: border-box;
}

body {
  margin:0;
}

header {
    background-color: rgb(10, 126, 97);
    color:beige;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

section {
  padding: 2rem;
}

dialog {
    background-color: bisque;
    color:maroon;
    

}

dialog div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.out-wrapper {
  text-align: center;
  padding: 1rem;
}

section.cronos output {
  border: 1px solid maroon;
  padding: 0.4rem 2rem;
}



footer {
    min-height: 10vh;
    background-color: rgb(9, 114, 88);
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}