* {
 box-sizing: border-box;   
}

body{
margin:0;
}


header , footer {
    background-color: maroon;
    color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
 min-height: 10vh;    
}




main {
    width: 90%;
    margin:1rem auto 5rem auto;
    min-height: 80vh;
}


p {
 background-color: salmon;
 padding: 0.5rem 1rem;

}

.absoluta_wrapper {
position: relative;
}

.relative {
position: relative;
top:2.3rem;
left:2rem;
background-color: rgba(231, 210, 208, 0.74);
}

.absolute {
background-color: rgba(231, 210, 208, 0.74);
margin:0;   
position:absolute;
top:0rem;
right:0rem;

}



.fixed {
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    height: 1rem;
    overflow: hidden;
    align-items: flex-start;
}

footer:hover {
    height: auto; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;

}

.center {
text-align: center;
}


.overflow {
height:40vh;
overflow:scroll;
}

/* width */
.overflow::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .overflow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  .overflow::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  