doctype
html(lang= language)
    head
        meta(charset='utf-8')
        title Hola Pug
    body
         header
           h1 Hola Pug
         section
            p. 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore ipsum fuga ut expedita suscipit sequi ab repudiandae corporis iste.  
                Doloribus, <strong> sit nam quaerat voluptatum maxime libero </strong> , accusantium dignissimos modi labore.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptate reprehenderit mollitia cumque laborum enim commodi, excepturi exercitationem architecto dolor, minus esse vitae recusandae eum amet animi nulla quibusdam tenetur.
            p
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nihil doloremque debitis quasi sequi perferendis alias error at, repellat sunt beatae pariatur suscipit dolore. Quia fuga quibusdam eos repellat corporis?   
         footer
            address Hitomi Aoki
