
block variables
-const page = 1
include ../partials/variables.pug
include ../partials/mixins.pug


include ../partials/meta.pug
body
    //comentario
    include ../partials/header.pug     
    main 
         block main
    include ../partials/footer.pug   