*{
   box-sizing: border-box;
}

body {
  margin:0;
}

header {
    background-color: maroon;
    color:beige;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}

.oculto {
    display: none;
}

.btn {
cursor: pointer;
color: rgb(145, 29, 29);
font-family: cursive;
}

.super-boton {
   padding: 1rem 2rem;
   width: 20%;
   text-align: center;
   cursor: pointer;
   color: maroon;
   border: 1px solid;
   border-radius: 10px 10px;
   font-family: cursive;
   background-color: darkgoldenrod;
}

.hover-boton {
    transform: scale(1.2);
    background-color: chocolate; 
}


footer {
    min-height: 10vh;
    background-color: maroon;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}