
body {
margin:0;
}


main {
 margin:3%;
}


section.reptiles::after {
content:'';
display:block;
clear:both;
}
.imge_wrapper_left{
    width: 50%;
    float: left;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
 }

img {
max-width: 100%;
display:block;
}


.imge_wrapper_right{
   width: 50%;
   float:left;
   padding-right: 2rem;
   padding-bottom: 0.5rem;
}

header,footer  {
 background-color:brown;
 color:navajowhite;
 text-align:center; 
 
}

header h1 ,footer{
line-height:8rem;    
}

header p {
   padding-bottom: 1rem;
   visibility: hidden;
   /*display:none;*/
}



header:hover p {
   visibility:initial;
  /*display:initial;*/
}

ul {
list-style-position:inside;
list-style-type: georgian;
} 


.table_wrapper_right {
   float: left;
   padding-left: 1rem;
   padding-bottom: 0.3rem;
   padding-right: 1rem;
}


.table_wrapper_right:hover table {
 border-spacing: 10px;
 border-collapse: separate;
}



td {
padding:0.2rem 1rem;
border:1px solid;
}


tr {
padding: 0.3rem 1rem;
}

/*completar css de aside (publicidad)

aside:before, aside:after {
   content:'';
   display:block;
   padding:0.8rem;
   background-color:lightblue;
   opacity:0.6;
}

img.img_wrapper_right{
   width: 50%;
   float:left;
   padding-right: 2rem;
   padding-bottom: 0.5rem;
}*/


