*{
 box-sizing: border-box;
}

body {
  margin:0;  
}

header {
    background-color:rgb(14, 120, 134);
    color:antiquewhite;
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
  margin: 2rem;
  min-height: 60vh;
}

.flex {
  display: flex;
  width: 50%;
}

.flex div, .flex p {
  width: 50%;
}

.flex div {
   display: flex;
   justify-content: center;
   align-items: center;
} 

output {
  padding-left: 2rem;
}

footer {
    min-height: 10vh;
    background-color: rgb(14, 120, 134);
    color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
}